body {
  background-color: cadetblue;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: blue;
}

.poke {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.poke__item {
  width: 340px;
  cursor: pointer;
  padding: 20px;
  margin-bottom: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgba(245, 245, 245, 0.466);
  font-weight: bold;
}

@media (max-width: 550px) {
  .poke__item {
    width: 250px;
    font-size: 13px;
  }
}

.grass {
  background-image: url(/images/Tipo_planta.gif);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 60px;
  min-height: 18px;
  margin-left: 20px;
  color: rgba(245, 245, 245, 0);
}

.poison {
  background-image: url(/images/Tipo_veneno.gif);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 60px;
  min-height: 18px;
  margin-left: 20px;
  color: rgba(245, 245, 245, 0);
}

.fire {
  background-image: url(/images/Tipo_fuego.gif);
  background-position: center;
  background-size: cover;
  min-width: 60px;
  min-height: 18px;
  margin-left: 20px;
  color: rgba(245, 245, 245, 0);
}

.flying {
  background-image: url(/images/Tipo_volador.gif);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 60px;
  min-height: 18px;
  margin-left: 20px;
  color: rgba(245, 245, 245, 0);
}

.water {
  background-image: url(/images/Tipo_agua.gif);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 60px;
  min-height: 18px;
  margin-left: 20px;
  color: rgba(245, 245, 245, 0);
}

.bug {
  background-image: url(/images/Tipo_bicho.gif);
  background-position: center;
  background-size: cover;
  min-width: 60px;
  min-height: 18px;
  margin-left: 20px;
  color: rgba(245, 245, 245, 0);
}

.normal {
  background-image: url(/images/Tipo_normal.gif);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 60px;
  min-height: 18px;
  margin-left: 20px;
  color: rgba(245, 245, 245, 0);
}

.electric {
  background-image: url(/images/Tipo_elec.gif);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 60px;
  min-height: 18px;
  margin-left: 20px;
  color: rgba(245, 245, 245, 0);
}

.ground {
  background-image: url(/images/Tipo_tierra.gif);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 60px;
  min-height: 18px;
  margin-left: 20px;
  color: rgba(245, 245, 245, 0);
}

.fairy {
  background-image: url(/images/Tipo_hada.gif);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 60px;
  min-height: 18px;
  margin-left: 20px;
  color: rgba(245, 245, 245, 0);
}

.fighting {
  background-image: url(/images/Tipo_lucha.gif);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 60px;
  min-height: 18px;
  margin-left: 20px;
  color: rgba(245, 245, 245, 0);
}

.psychic {
  background-image: url(/images/Tipo_psi.gif);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 60px;
  min-height: 18px;
  margin-left: 20px;
  color: rgba(245, 245, 245, 0);
}

.steel {
  background-image: url(/images/Tipo_acero.gif);
  background-position: center;
  background-size: cover;
  min-width: 60px;
  min-height: 18px;
  margin-left: 20px;
  color: rgba(245, 245, 245, 0);
}

.ice {
  background-image: url(/images/Tipo_hielo.gif);
  background-position: center;
  background-size: cover;
  min-width: 60x;
  min-height: 18px;
  margin-left: 20px;
  color: rgba(245, 245, 245, 0);
}

.rock {
  background-image: url(/images/Tipo_roca.gif);
  background-position: center;
  background-size: cover;
  min-width: 60px;
  min-height: 18px;
  margin-left: 20px;
  color: rgba(245, 245, 245, 0);
}

.dragon {
  background-image: url(/images/Tipo_drag.gif);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 60px;
  min-height: 18px;
  margin-left: 20px;
  color: rgba(245, 245, 245, 0);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: cornsilk;
  margin-top: 40px;
}
/*# sourceMappingURL=style.css.map */